<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>type_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,67}</string>
                <key>spriteSourceSize</key>
                <string>{74,67}</string>
                <key>textureRect</key>
                <string>{{0,67},{74,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>type_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,164}</string>
                <key>spriteSourceSize</key>
                <string>{225,164}</string>
                <key>textureRect</key>
                <string>{{0,134},{225,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>type_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,67}</string>
                <key>spriteSourceSize</key>
                <string>{74,67}</string>
                <key>textureRect</key>
                <string>{{74,0},{74,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>type_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,164}</string>
                <key>spriteSourceSize</key>
                <string>{225,164}</string>
                <key>textureRect</key>
                <string>{{0,462},{225,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>type_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,67}</string>
                <key>spriteSourceSize</key>
                <string>{74,67}</string>
                <key>textureRect</key>
                <string>{{148,0},{74,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>type_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,164}</string>
                <key>spriteSourceSize</key>
                <string>{225,164}</string>
                <key>textureRect</key>
                <string>{{0,298},{225,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>type_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,67}</string>
                <key>spriteSourceSize</key>
                <string>{74,67}</string>
                <key>textureRect</key>
                <string>{{0,0},{74,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>type_4_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,164}</string>
                <key>spriteSourceSize</key>
                <string>{225,164}</string>
                <key>textureRect</key>
                <string>{{0,626},{225,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>machine_6.png</string>
            <key>size</key>
            <string>{225,790}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe055272039441eeaac9e53d187342da:0e5f3bcf69af7dbe1686d12ba90eb4de:7d04c7bc707b02dd396db8d833483d97$</string>
            <key>textureFileName</key>
            <string>machine_6.png</string>
        </dict>
    </dict>
</plist>
