<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>type_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,67}</string>
                <key>spriteSourceSize</key>
                <string>{74,67}</string>
                <key>textureRect</key>
                <string>{{0,0},{74,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>type_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,192}</string>
                <key>spriteSourceSize</key>
                <string>{114,192}</string>
                <key>textureRect</key>
                <string>{{0,67},{114,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>type_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,67}</string>
                <key>spriteSourceSize</key>
                <string>{74,67}</string>
                <key>textureRect</key>
                <string>{{0,259},{74,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>type_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,192}</string>
                <key>spriteSourceSize</key>
                <string>{114,192}</string>
                <key>textureRect</key>
                <string>{{0,326},{114,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>type_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,67}</string>
                <key>spriteSourceSize</key>
                <string>{74,67}</string>
                <key>textureRect</key>
                <string>{{0,518},{74,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>type_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,192}</string>
                <key>spriteSourceSize</key>
                <string>{114,192}</string>
                <key>textureRect</key>
                <string>{{0,585},{114,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>type_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,67}</string>
                <key>spriteSourceSize</key>
                <string>{74,67}</string>
                <key>textureRect</key>
                <string>{{0,777},{74,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>type_4_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,192}</string>
                <key>spriteSourceSize</key>
                <string>{114,192}</string>
                <key>textureRect</key>
                <string>{{0,844},{114,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>machine_2.png</string>
            <key>size</key>
            <string>{114,1036}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b94e2832146c3018925c22321d52221:17b5ff44dd47de18a50c09a3b1b8598c:9cd3a4ac2c558dd6fc2314d6ef69e431$</string>
            <key>textureFileName</key>
            <string>machine_2.png</string>
        </dict>
    </dict>
</plist>
