<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bk_jbzs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,195}</string>
                <key>spriteSourceSize</key>
                <string>{178,195}</string>
                <key>textureRect</key>
                <string>{{0,0},{178,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bk_jbzs1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,198}</string>
                <key>spriteSourceSize</key>
                <string>{172,198}</string>
                <key>textureRect</key>
                <string>{{178,0},{172,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bk_jbzs2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,195}</string>
                <key>spriteSourceSize</key>
                <string>{163,195}</string>
                <key>textureRect</key>
                <string>{{350,0},{163,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bk_jbzs3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,194}</string>
                <key>spriteSourceSize</key>
                <string>{173,194}</string>
                <key>textureRect</key>
                <string>{{513,0},{173,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bk_jbzs4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,193}</string>
                <key>spriteSourceSize</key>
                <string>{172,193}</string>
                <key>textureRect</key>
                <string>{{686,0},{172,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bk_jbzs5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,222}</string>
                <key>spriteSourceSize</key>
                <string>{175,222}</string>
                <key>textureRect</key>
                <string>{{0,198},{175,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bk_jbzs6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,214}</string>
                <key>spriteSourceSize</key>
                <string>{172,214}</string>
                <key>textureRect</key>
                <string>{{175,198},{172,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bk_jbzs7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,222}</string>
                <key>spriteSourceSize</key>
                <string>{224,222}</string>
                <key>textureRect</key>
                <string>{{347,198},{224,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bk_jbzs8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,222}</string>
                <key>spriteSourceSize</key>
                <string>{163,222}</string>
                <key>textureRect</key>
                <string>{{571,198},{163,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bk_jbzs9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,222}</string>
                <key>spriteSourceSize</key>
                <string>{217,222}</string>
                <key>textureRect</key>
                <string>{{734,198},{217,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>touxian.png</string>
            <key>size</key>
            <string>{951,420}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:825e7641355644c3e36ed7bd7b1d7ac4:0499a226f5ad6ff6891baa830e707978:d20cfcad68687eb9f04cba1c12d11829$</string>
            <key>textureFileName</key>
            <string>touxian.png</string>
        </dict>
    </dict>
</plist>
